﻿@model IEnumerable<FidelizaAi.Web.Models.Domain.CompanySize>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CompanySizeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CompanySizeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CompanySizeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
