﻿@model FidelizaAi.Web.Models.Domain.Notification

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Notification</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NotificationId" />
            <div class="form-group">
                <label asp-for="CompanyCnpj" class="control-label"></label>
                <select asp-for="CompanyCnpj" class="form-control" asp-items="ViewBag.CompanyCnpj"></select>
                <span asp-validation-for="CompanyCnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationTypeId" class="control-label"></label>
                <select asp-for="NotificationTypeId" class="form-control" asp-items="ViewBag.NotificationTypeId"></select>
                <span asp-validation-for="NotificationTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsRead" class="control-label"></label>
                <input asp-for="IsRead" class="form-control" />
                <span asp-validation-for="IsRead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterDate" class="control-label"></label>
                <input asp-for="RegisterDate" class="form-control" />
                <span asp-validation-for="RegisterDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
