﻿@model FidelizaAi.Web.Models.Domain.LoyaltyCampaign

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LoyaltyCampaign</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rules)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rules)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberStampsTotalMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberStampsTotalMax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberStampsLimitMaxAtTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberStampsLimitMaxAtTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberStampsLimitMinAtTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberStampsLimitMinAtTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExclusiveCompanyCnpjNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExclusiveCompanyCnpjNavigation.Cnpj)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.LoyaltyCampaignStatusId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LoyaltyCampaignId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
