﻿@model FidelizaAi.Web.Models.Domain.LoyaltyCampaign

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>LoyaltyCampaign</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rules)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rules)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberStampsTotalMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberStampsTotalMax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberStampsLimitMaxAtTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberStampsLimitMaxAtTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberStampsLimitMinAtTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberStampsLimitMinAtTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExclusiveCompanyCnpjNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExclusiveCompanyCnpjNavigation.Cnpj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.LoyaltyCampaignStatusId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LoyaltyCampaignId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
