﻿@model IEnumerable<FidelizaAi.Web.Models.Domain.LoyaltyCampaign>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rules)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberStampsTotalMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberStampsLimitMaxAtTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberStampsLimitMinAtTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExclusiveCompanyCnpjNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rules)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberStampsTotalMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberStampsLimitMaxAtTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberStampsLimitMinAtTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExclusiveCompanyCnpjNavigation.Cnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.LoyaltyCampaignStatusId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LoyaltyCampaignId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LoyaltyCampaignId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LoyaltyCampaignId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
