﻿@model IEnumerable<FidelizaAi.Web.Models.Domain.Subscriber>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartContractDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndContractDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBlocked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Document)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartContractDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndContractDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBlocked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plan.PlanId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SubscriberId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SubscriberId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SubscriberId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
