﻿@model FidelizaAi.Web.Models.Domain.CompanyLoyaltyCampaingn

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>CompanyLoyaltyCampaingn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LoyaltyCampaingnId" class="control-label"></label>
                <select asp-for="LoyaltyCampaingnId" class ="form-control" asp-items="ViewBag.LoyaltyCampaingnId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CompanyCnpj" class="control-label"></label>
                <select asp-for="CompanyCnpj" class ="form-control" asp-items="ViewBag.CompanyCnpj"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
