﻿@model IEnumerable<FidelizaAi.Web.Models.Domain.CompanyLoyaltyCampaingn>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyCnpjNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoyaltyCampaingn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyCnpjNavigation.Cnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoyaltyCampaingn.LoyaltyCampaignId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
