﻿@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Alteração de senha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:5%">
    <h3>@ViewData["Title"]</h3>
    <h6>Altere sua senha</h6>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            @*<div asp-validation-summary="All" class="text-danger"></div>*@
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-outline-primary btn-block">Alterar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
